@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/poppins.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/poppins_bold.ttf");
  font-weight: bold;
}

* {
  font-family: Poppins !important;
}

/*utility variables*/
:root {
  --brand-primary-dark-color: #1d1e2c;
  --brand-primary-light-color: #48cae4;
  --brand-primary-light-color-2: #90e0ef;
  --brand-primary-light-color-3: #caf0f8;
  --brand-gradient-color: linear-gradient(
    85.28deg,
    var(--brand-primary-dark-color) 4.09%,
    #000000 98%
  );
  --brand-radial-gradient-color: radial-gradient(
      49.81% 49.81% at 50% 122.68%,
      rgba(146, 180, 231, 0.2) 0%,
      rgba(160, 195, 248, 0) 100%
    ),
    radial-gradient(
      50.18% 50.18% at 50% 122.68%,
      rgba(231, 222, 146, 0.15) 0%,
      rgba(248, 239, 160, 0) 100%
    ),
    radial-gradient(
      34.26% 34.26% at 50% 100%,
      rgba(253, 166, 37, 0.05) 1.54%,
      rgba(245, 163, 40, 0) 100%
    ),
    radial-gradient(
      35.83% 29.71% at 50% 114.71%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );

  --brand-secondary-color: #16679a;
  --brand-secondary-color-2: #1c558e;

  --brand-white-color: #eff7f6;
  --brand-button-border-radius: 30px;
  --brand-button-border-radius-2: 15px;
  --brand-button-border-radius-3: 10px;
  --brand-small-text: 0.9rem;
  --brand-search-border-radius: 50px;
  --brand-button-outline-padding: 15px;
  --brand-grey-color: #7c7c7c;
}
.brand-glowing-container {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 680px;
  position: absolute;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.5;
  z-index: 0;
  background: var(--brand-radial-gradient-color);
}
/*Brand primary utility classes*/

body {
  background: var(--brand-gradient-color) !important;
  background-repeat: no-repeat;
}

.brand-gradient-color {
  background: var(--brand-gradient-color) !important;
}
.brand-primary-color {
  background: var(--brand-primary-light-color) !important;
}
.brand-primary-color-2 {
  background: var(--brand-primary-light-color-2);
}
.brand-primary-color-3 {
  background: var(--brand-primary-light-color-3);
}
.brand-dark-color {
  background: var(--brand-primary-dark-color);
  color: var(--brand-white-color);
}
.brand-white-color {
  background: var(--brand-white-color);
}
.brand-text-primary-color {
  color: var(--brand-primary-light-color);
}

.brand-text-muted {
  color: var(--brand-grey-color);
}

/*spinner component*/
#spinner {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Brand secondary utility classes*/

.brand-secondary-color {
  background: var(--brand-secondary-color);
}

.brand-tooltip-color {
  background: var(--brand-tooltip-color) !important;
}

.brand-secondary-color-2 {
  background: var(--brand-secondary-color-2);
}

.brand-white-text {
  color: var(--brand-white-color);
}

.brand-dark-text {
  color: var(--brand-primary-dark-color);
}
.brand-small-text {
  font-size: var(--brand-small-text);
}

.brand-primary-text {
  color: var(--brand-primary-light-color);
}

.brand-small-text-2 {
  font-size: calc(var(--brand-small-text) - 0.1rem);
}
/*default bootstrap navbar properties @overide*/

.navbar-toggler:focus {
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
  color: var(--brand-white-color) !important;
  border: none !important;
}

.nav-item {
  cursor: pointer;
  transition: 0.3s;
}
.nav-item:hover {
  transform: scale(1.1);
}

/*Brand button styling*/

.brand-button,
.brand-button-2,
.brand-button-3,
.brand-white-button,
.brand-button-outline {
  border-radius: var(--brand-button-border-radius);
  outline: none;
  border: 0;
  text-transform: capitalize;
  background: var(--brand-primary-light-color) !important;
  padding: 10px;
  width: 60%;
  cursor: pointer;
  transition: 0.6s;
  filter: brightness(0.9);
}
.brand-button:hover,
.brand-button:active {
  background: var(--brand-primary-light-color) !important;
  filter: brightness(1.1);
}
.brand-button-2 {
  padding: 15px;
}

.brand-white-button {
  background: var(--brand-white-color);
  padding: 13px;
  transition: 0.3s;
}

.brand-white-button:hover,
.brand-white-button:active {
  background: var(--brand-primary-light-color) !important;
  color: var(--brand-white-color) !important;
}

.brand-button-3 {
  padding: 13px;
}

.brand-button-4 {
  padding: calc(var(--brand-button-outline-padding) - 5px);
}

.brand-button-outline {
  background: none !important;
  padding: calc(var(--brand-button-outline-padding) - 5px) !important;
  outline: 2px solid var(--brand-primary-light-color) !important;
  transition: 0.5s !important;
  color: var(--brand-white-color) !important;
}

.brand-heading-text {
  background: linear-gradient(
    90deg,
    #73c3e2 0.09%,
    #b9c0a5 34.99%,
    #f0c79f 67.28%,
    #f7f7f7 93.84%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  word-spacing: 2px;
}

.brand-small-text-3 {
  font-size: 14px; /* Default font size for mobile phones */
}

@media (min-width: 768px) {
  .brand-small-text-3 {
    font-size: 17px; /* Font size for large screens */
  }
}

.image-transition {
  transition: opacity 1.5s linear !important;
}
/*custom responsiveness*/
@media (min-width: 667.98px) {
  .width-toggle {
    width: 35%;
  }
  .width-toggle-1 {
    width: 40%;
  }
  .width-toggle-2 {
    width: 75%;
  }
  .width-toggle-5 {
    width: 60%;
  }

  .width-toggle-3 {
    width: 50%;
  }
  .width-toggle-4 {
    width: 30%;
  }
  .width-toggle-7 {
    width: 40%;
  }
  .width-toggle-6 {
    width: 25%;
  }

  .width-toggle-dash {
    width: 20%;
  }
}
